.more {
  position: relative;
  width: 100%;
  border-radius: 5px;
  margin-left: 15px;
  background-color: var(--overlay-color);
  transition: 0.15s ease-in-out;
  overflow: hidden;

  & > button {
    position: absolute;
    z-index: 2;
    padding-bottom: 10px;
    padding-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: none;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 200%;
      background: linear-gradient(
        0deg,
        rgba(33, 37, 40, 1) 10%,
        rgba(33, 37, 40, 0) 90%
      );
      transition: 0.15s ease-in-out;
    }

    &:hover {
      padding-bottom: 15px;

      &::after {
        height: 250%;
      }
    }

    &.open {
      padding-top: 0;
    }
  }
}

@media (max-width: 800px) {
  .more {
    margin-top: 30px;
    margin-left: 0px;
  }
}
