.dropdown {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 42px;
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--shadow-block);
  background-color: var(--block-color);
  overflow: hidden;
}
